<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <section class="header">
        <video autoplay loop class="video-background" muted plays-inline>
            <source src="videos/backgroundVideo.mp4" type="video/mp4">
        </video>
        <div class = "welcome-msg">
            <h1 class="heading">PORTFOLIO <br> DEVOP</h1>
            <p class="para"> Creative Production <br> UI/UX Designer <br> Web Developer </p>
      
                <button class="btn" onclick="window.location.href = '/homePage'">
                    Explore
                </button>
            
        </div>
    </section>

</body>
</html>